.searchForm {
    width:80%;
    margin:1rem auto;
}
    .searchInput {
        padding: .8em;
        border-radius: 20px;
        width: 100%;
        border:none;
        text-align: center;
        box-shadow:2px 2px 3px 0 rgb(189, 188, 188);
}

.searchInput:focus {
    outline: none;
}

.searchInput::placeholder {
    text-align: center;
}

@media (max-width: 450px) {
    .searchForm {
        /* border: 2px solid red; */
        display: block;
        text-align: center;
        /* min-width: 100%; */
    }
}