.navBar {
  padding:  2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cagliostro", sans-serif;
  color: #191919;
}
.navList {
  list-style-type: none;
  display: flex;
  /* width:%; */
  justify-content: space-evenly;
  
  /* flex-direction:row; */
}
.navLinks {
  list-style-type: none;
  display: flex;
  font-size: 18px;
  /* width:%; */
  justify-content: space-evenly;
  margin-right: 1rem;
  /* flex-direction:row; */
}
.navLink {
  transition: all 0.2s ease-in-out;
}
.navLink:hover {
  color: #77059F;
}

.navList li {
  margin: 0 10px;
  font-weight: bold;
}

.logo {
  /* font-family: 'Cagliostro', sans-serif; */
  font-size: 28px;
  font-weight: 800;
  margin-left: 1rem;
}
.signInButton {
  background-color: #77059f;
  color: #fff;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  border: none;
}
.signInButton:hover {
  transform:scale(1.05);
  cursor:pointer;  
}

@media (max-width:600px){
  .navBar{
    padding:2rem 1rem;
  }
}