/* search bar */
.searchContainer{
    position: relative;
    margin: 0 auto;
    color: inherit;
    width:100%;
    min-width: 70%;
    transition: all 0.2s ease-in-out;


}
.searchBar{
    width:100%;
    margin:10px 0;
    position: relative;
}

.fa-search{
    position:absolute;
    right:10px;
    cursor:pointer;
    bottom:10px;
    transition:0.3s ease-in-out
}
.fa-search:hover{
    color:darkblue;
}

.resultsContainer{
    width: 100%;
    z-index: 5;
    opacity: 0;
    /* box-shadow: 0 0 1000px 8000px rgba(8, 8, 8, 0.596); */
    max-height: 50vh;
    animation: slidein 0.6s forwards ease-in-out;
    border-radius: 10px;
    overflow-y: auto;
    position: absolute;
}


@keyframes slidein {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        opacity: 1;
        transform: translateY(0);
    }
}

.open-search{
    opacity:1;
    transition:0.2s ease-in-out;
}
.close-search{
    opacity:0;
    pointer-events:none;
}
.singleResult{
    display:flex;
    flex-direction: column;

}
.singleResult{
    font-weight: bold;
}
.resultsList li{
    width:100%;
    border-bottom:1px solid rgb(212, 212, 208);

    font-family: sans-serif;
    font-size:12px;
}

.button-text {
    font-family: sans-serif, Courier, monospace;
    font-weight: 700;
}
