.googleIcon{
    width:25px;
    height:100%;
    margin:0 1rem;
}
.googleButton{
    display:flex;
    color:#111;
    padding:10px;
    background-color:#fff;
    border:4px solid #1BA7E3;
    /* box-shadow: 1px 1px 10px 2px rgb(189, 188, 188); */
    border-radius: 10px;
    width:100%;
    justify-content:center;
    cursor:pointer;
    align-items: center;

}
