@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cagliostro&display=swap");
html,
body {
    padding: 0;
    width:100vw;
    min-height:100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background: linear-gradient(to right, #00b4db, #0083b0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: #E0FBFF */
  }
  body{
    position:relative;
    width:100%;
    min-height:100vh;

}
a {
    color: inherit;
    text-decoration: none;
}
a:hover{
  cursor:pointer;
}

* {
  box-sizing: border-box;
margin:0;
padding:0;
}
.link{
  color:#393D9C;
}
.notes-list{
max-height:400px;
}
@media screen and (min-height:900px){
  .notes-list{
    max-height:550px;
    overflow:auto;
  }
  
}
@media screen and (min-height:600px){
  .notes-list{
    max-height:400px;
    overflow:auto;
  }
  
}